.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url("/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.landingPageContainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .landingPageContainer nav h2{
    font-size: 1.6rem;
    font-weight: 500;
 }
 .landingPageContainer nav .navList{
        display: flex;
        gap: 1.6rem;
        cursor: pointer;

 }

.landingMainContainer{
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 80vh;
    align-items: center;

}

.landingMainContainer > div:nth-child(1){
    font-size: 2.1rem;


}

.landingMainContainer > div:nth-child(1) div[role="button"] {
    background: #D97500;
    width: fit-content;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
    text-decoration: none;
    color:white;
    font-size: 1.7rem;
}
.landingMainContainer > div:nth-child(2){
    height: 70vh;
    width: auto;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    text-align: center;
}

.meetContainer{
    display: flex;
    height: 80vh;
    gap: 10vw;
    padding-inline: 20px;
    justify-content: center;

}
.leftPanel{
    height: 100%;
    display: flex;
    align-items: center;
}

.rightPanel{
    display: flex;
    align-items: center;
}